.idea
cmake*
.DS_Store
*/.DS_Store
*~
.*~
radio_coms/sensitive_data.py
radio_coms/radiovis
radio_coms/__*
radio_coms/map.html
*/__*
*/radiovis/
#ignore ubuntu venv ^^
*/sensitive_data.*
*/.Rhistory
*/*.html